.form {
  width: 100%;
}

.form__label {
  display: none;
}

.form__input {
  font-family: inherit;
  color: #545149;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #545149;
  margin-bottom: 10px;
  outline: none;
}

.form__flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__button,
.form__button:active {
  border: none;
  border-bottom: 3px solid #002e72;
  background-color: #4056a1;
  color: #fff;
  font-family: "Bungee", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
  transition: all 0.2s;
}

.form__button:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.form__counter {
  font-family: "Bungee", sans-serif;
  font-size: 18;
}
